@model Doicuuhomaytinh_CORE.Models.Gallery

@{
    ViewData["Title"] = "Thêm Ảnh ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="font-weight-bold text-success ">Thêm Ảnh</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <form asp-area="Admin" asp-controller="AdminGalleries" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <table class="table table-bordered table-white">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Ảnh</th>
                                <th scope="col">Tên ảnh</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="text-center">
                                <td style="width:150px">
                                    <div class="form-group">
                                        <input name="fThumb" type="file" class="form-control-file" asp-for="Image" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" asp-for="ImageName" class="form-control" />
                                        <span asp-validation-for="ImageName" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="submit" value="Tạo mới" class="btn bg-gradient-info px-4" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex align-items-start mt-3 justify-content-between">
                        <a asp-action="Index" class="btn px-4 bg-gradient-success float-right text-white font-weight-bold">Trở lại</a>
                    </div>
                </form>
            </div>

        </div>
    </div>


</section>















