@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-header position-relative" style="background-image: url(images/anhchung/anhbia.jpg);">
    <div class="overlay-news-details" style="background: linear-gradient(180deg, #4a4a4a8a, black);"></div>

    <div class="tim-container position-relative">
        <div class="page-header-title text-white text-center " style="margin-top:-15%">
            <h3 class="font-system font-weight-bold  text-white  animate__animated animate__jackInTheBox animate__slow">Đội cứu hộ máy tính Vinhuni</h3>
            <span>-</span>
            <h2 class="font-system font-weight-bold  text-white  animate__animated animate__jackInTheBox animate__slow">GIỚI THIỆU</h2>
        </div>
    </div>


    </div>
    <!-- /.tim-container -->
</section>

<div class="breadcrumbs mt-4">
    <a href="/">Trang chủ</a>
    <span>/</span>
    <span>Giới thiệu</span>
</div>
<h1 class="text-center font-system" >Về Đội cứu hộ máy tính Vinhuni</h1>

<section id="music-tabs" class="section-padding">

    <div class="container text-black">
        <div class="single-tab-brief row">
            <div class="col-lg-6 col-xl-7">
                <div class="tab-left">
                    <div class="tab-img">
                        <img src="images/gallery/anh-doi-2.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /.col- -->
            <div class="col-lg-6 col-xl-5">
                <p align="center" style="text-align: justify;"><span style="text-align: left; font-size: 14pt;">Đội cứu hộ máy tính </span><span style="text-align: left; font-size: 14pt;">Vinhuni được </span><span style="text-align: left; font-size: 14pt;">thành lập </span><span style="text-align: left; font-size: 14pt;">vào </span><span style="text-align: left; font-size: 14pt;">ngày 15/12/2013. Đội là CLB trực thuộc Hội sinh viên Trường Đại học Vinh, với phần lớn thành viên là s</span><span style="text-align: left; font-size: 14pt;">inh </span><span style="text-align: left; font-size: 14pt;">v</span><span style="text-align: left; font-size: 14pt;">iên</span><span style="text-align: left; font-size: 14pt;"> ngành C</span><span style="text-align: left; font-size: 14pt;">ông nghệ thông tin,</span><span style="text-align: left; font-size: 14pt;"> thuộc Viện </span><span style="text-align: left; font-size: 14pt;">Kỹ thuật và Công nghệ</span><span style="text-align: left; font-size: 14pt;">.</span><br></p>
                <p align="center" style="text-align: justify;"><span style="background: white; font-size: 14pt; dodgerblue">Với mục đích hỗ trợ sinh viên trong sửa chữa, bảo dưỡng máy tính, phục vụ hiệu quả việc học tập, nghiên cứu, Đội Cứu hộ máy tính Vinhuni ra đời và trở thành địa chỉ tin cậy của sinh viên... </span><span style="font-size: 14pt;">Đội </span><span style="font-size: 14pt;">CHMT </span><span style="font-size: 14pt;">là nơi để mọi người cùng làm việc và giúp đỡ lẫn nhau. </span><span style="background: white; font-size: 14pt; dodgerblue">Qua đó, giúp các thành viên trong đội tích lũy thêm kiến thức, học hỏi kinh nghiệm và kỹ năng cần thiết để trưởng thành hơn… </span><span style="font-size: 14pt;">Khi tham gia Đội Cứu hộ máy tính các bạn </span><span style="font-size: 14pt;">không chỉ nhận được cho mình về mặt kiến thức</span><span style="font-size: 14pt;"> chuyên môn</span><span style="font-size: 14pt;">, kỹ năng làm việc nhóm mà </span><span style="font-size: 14pt;">còn có được</span><span style="font-size: 14pt;"> những trải nghiệm ý nghĩa, đầy thú vị.</span><span style="font-size: 14pt;"> </span></p>
            </div>
        </div>
        <div class="single-tab-brief row mt-5">
            <!-- /.col- -->
            <div class="col-lg-6 col-xl-5">
                <p><span style="font-size: 14pt;">Ngày 15/12/2019</span><span style="font-size: 14pt;"> vừa qua,</span><span style="font-size: 14pt;"> Đội </span><span style="font-size: 14pt;">C</span><span style="font-size: 14pt;">ứu hộ </span><span style="font-size: 14pt;">máy tính Vinhuni </span><span style="font-size: 14pt;">chính thức khai trương phòng </span><span style="font-size: 14pt;">làm việc của </span><span style="font-size: 14pt;">đội B2-101. </span></p>
                <p align="center" style="text-align: justify;"><span style="background: white; font-size: 14pt; dodgerblue">Với mục đích hỗ trợ sinh viên trong sửa chữa, bảo dưỡng máy tính, phục vụ hiệu quả việc học tập, nghiên cứu, Đội Cứu hộ máy tính Vinhuni ra đời và trở thành địa chỉ tin cậy của sinh viên... </span><span style="font-size: 14pt;">Đội </span><span style="font-size: 14pt;">CHMT </span><span style="font-size: 14pt;">là nơi để mọi người cùng làm việc và giúp đỡ lẫn nhau. </span><span style="background: white; font-size: 14pt; dodgerblue">Qua đó, giúp các thành viên trong đội tích lũy thêm kiến thức, học hỏi kinh nghiệm và kỹ năng cần thiết để trưởng thành hơn… </span><span style="font-size: 14pt;">Khi tham gia Đội Cứu hộ máy tính các bạn </span><span style="font-size: 14pt;">không chỉ nhận được cho mình về mặt kiến thức</span><span style="font-size: 14pt;"> chuyên môn</span><span style="font-size: 14pt;">, kỹ năng làm việc nhóm mà </span><span style="font-size: 14pt;">còn có được</span><span style="font-size: 14pt;"> những trải nghiệm ý nghĩa, đầy thú vị.</span><span style="font-size: 14pt;"> </span></p>
                <p><span style="font-size: 14pt;">Đến tham dự buổi khai trương, rất hân hạnh được đón tiếp TS. Lê Văn Minh – Phó Viện trưởng Viện KT&amp;CN, TS. Thiều Đình Phong – Bí thư Đoàn Trường, Thầy Võ Đức Quang – Giảng viên Ngành CNTT, Thầy Trần Đình Dũng – Bí thư Đoàn Viện cùng đông đảo các bạn sinh viên trường Đại học Vinh.</span></p>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="tab-left">
                    <div class="tab-img">
                        <img src="images/gallery/anh-doi-24.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <span id="dnn_ctr23512_newsviewer_ctl00_lbContent">
                    <p><span style="font-size: 14pt;">Đội </span><span style="font-size: 14pt;">Cứu hộ máy tính Vinhuni </span><span style="font-size: 14pt;">hỗ trợ các bạn sinh viên về các dịch vụ như:</span></p>
                    <p>
                        <span style="font-size: 14pt; font-family: " segoe="" ui="" symbol",="" sans-serif;"="">
                            -
                        </span>
                        <span style="font-size: 14pt;"> Tư vấn, hỗ trợ nhiệt tình các vấn đề về máy tính.</span>
                    </p>
                    <p><span style="font-size: 14pt; font-family: " segoe="" ui="" symbol",="" sans-serif;"="">-</span><span style="font-size: 14pt;"> Kiểm tra, sửa chữa, cài đặt phần mềm</span><span style="font-size: 14pt;">.</span></p>
                    <p><span style="font-size: 14pt;">- </span><span style="font-size: 14pt;">Cài đặt hệ điều hành, vệ sinh máy miễn phí. </span></p>
                    <p><span style="font-size: 14pt; font-family: " segoe="" ui="" symbol",="" sans-serif;"="">-</span><span style="font-size: 14pt;"> </span><span style="font-size: 14pt;">Hỗ trợ </span><span style="font-size: 14pt;">thay thế linh kiện, phụ kiện giá rẻ nhưng chất lượng.</span></p>
                    <p><span style="font-size: 14pt;">Từ ngày 16/12/2019 </span><span style="font-size: 14pt;">Đ</span><span style="font-size: 14pt;">ội </span><span style="font-size: 14pt;">C</span><span style="font-size: 14pt;">ứu hộ </span><span style="font-size: 14pt;">máy tính Vinhuni </span><span style="font-size: 14pt;">chính thức </span><span style="font-size: 14pt;">đi vào hoạt động thường trực tại</span><span style="font-size: 14pt;"> phòng B2-101 từ thứ 2 đến thứ 6 </span><span style="font-size: 14pt;">hàng tuần</span><span style="font-size: 14pt;">.</span><span style="font-size: 14pt;"> Thời gian cụ thể:</span></p>
                    <p class="text-black font-weight-bold"<span style="font-size: 14pt;">+<span>&nbsp; </span></span><span style="font-size: 14pt;">Buổi sáng: </span><span style="font-size: 14pt;">Từ </span><span style="font-size: 14pt;">8h30</span><span style="font-size: 14pt;"> </span><span style="font-size: 14pt;">-</span><span style="font-size: 14pt;"> </span><span style="font-size: 14pt;">11h30</span><span style="font-size: 14pt;">.</span></p>
                    <p class="text-black font-weight-bold"><span style="font-size: 14pt;">+<span>&nbsp; </span></span><span style="font-size: 14pt;">Buổi chiều:</span><span style="font-size: 14pt;"> Từ</span><span style="font-size: 14pt;"> 14h30</span><span style="font-size: 14pt;"> </span><span style="font-size: 14pt;">-</span><span style="font-size: 14pt;"> </span><span style="font-size: 14pt;">17h30</span><span style="font-size: 14pt;">.<span> </span></span></p>
                    <p><span style="font-size: 14pt;">Với khẩu hiệu <i>“</i></span><i><span style="font-size: 14pt;">Cứu hộ máy tính- lập trình yêu thương”</span></i><span style="font-size: 14pt;"><span>&nbsp; </span>Đội Cứu hộ máy tính Vinhuni luôn mong muốn có thể ngày càng ít các máy tính bị hư hỏng hơn, có thể giúp đỡ các bạn sinh viên là niềm động lực to lớn để giúp chúng mình theo đuổi đam mê và phát triển kỹ năng của bản thân.&nbsp;</span><span style="font-size: 14pt;">Trong thời gian qua&nbsp;Đội&nbsp;cứu hộ máy tính đã nhận được sự quan tâm rất lớn đến từ các bạn sinh viên cũng như các thầy, cô giáo.&nbsp;Đội sẽ tiếp thu các ý kiến, phản hồi của các bạn để ngày càng phát triển hơn, chất lượng phục vụ tốt hơn. Xin cảm ơn mọi người rất nhiều! &lt;3</span></p>
                    <p align="right" style="text-align: right;"><b><i><span style="font-size: 14pt;">Đội truyền thông Cứu hộ máy tính Vinhuni.</span></i></b></p>
                </span>
            </div>
        </div>
    </div>
    <!-- /.tim-container -->
</section>