@model Doicuuhomaytinh_CORE.Models.News

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-body">
    <div class="card-header">
        <h3 class="font-weight-bold text-warning">Chấp nhận xóa bài viết ?</h3>
    </div>
    <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
        <table class="table table-bordered table-white">
            <thead>
                <tr class="text-center">
                    <th scope="col">PostId</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Trạng thái </th>
                    <th scope="col">Bài viết Hot? </th>
                    <th scope="col">Bài NewFeed? </th>
                    <th scope="col">Danh mục</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td style="width:100px">@Model.PostId</td>
                    <td>
                        <img class="img-fluid rounded" width="150" src="~/images/news/@Model.Thumb">
                    </td>
                    <td style="width:400px">@Model.Title</td>
                    <td>
                        @if (Model.Acive == true)
                        {
                            <input type="checkbox" checked>
                        }
                        else
                        {
                            <input type="checkbox">
                        }
                    </td>
                    <td>
                        @if (Model.Ishot == true)
                        {
                            <input type="checkbox" checked>
                        }
                        else
                        {
                            <input type="checkbox">
                        }
                    </td>
                    <td>
                        @if (Model.IsNewfeed == true)
                        {
                            <input type="checkbox" checked>
                        }
                        else
                        {
                            <input type="checkbox">
                        }
                    </td>
                    <td>
                        @Model.Cate.CateName
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-between">
            <a asp-action="Index" class="btn px-4 bg-gradient-success mt-4 float-right text-white font-weight-bold">Trở lại</a>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CateId" />
                <input type="submit" value="Xóa" class="btn btn-danger mt-3 px-4 font-weight-bold" />
            </form>
        </div>
    </div>
</div>