@model Doicuuhomaytinh_CORE.Models.Menu

@{
    ViewData["Title"] = "Chỉnh sửa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="font-weight-bold text-success ">Chỉnh sửa</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                <table class="table table-bordered table-white">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Tiêu đề</th>
                            <th scope="col" style="width:100px">Trạng thái</th>
                            <th scope="col" style="width:100px">Cấp </th>
                            <th scope="col" style="width:100px">Menu cha</th>
                            <th scope="col" style="width:100px">Sắp xếp</th>
                            <th scope="col" style="width:100px">Vị trí</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                <form asp-action="Edit" class="jsgrid-grid-body" style="height: 821px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MenuId" />
                        <tbody>
                            <tr class="text-center">
                            <td style="width:726px">
                                    <div class="form-group">
                                        <input asp-for="MenuTitle" class="form-control" />
                                        <span asp-validation-for="MenuTitle" class="text-danger"></span>
                                    </div>
                                </td>
                                <td style="width:100px">
                                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                </td>
                                <td style="width:100px">
                                    <div class="form-group">
                                        <input asp-for="Levels" class="form-control" />
                                        <span asp-validation-for="Levels" class="text-danger"></span>
                                    </div>
                                </td>
                                <td style="width:100px">
                                    <div class="form-group">
                                        <input asp-for="ParentId" class="form-control" />
                                        <span asp-validation-for="ParentId" class="text-danger"></span>
                                    </div>
                                </td>
                                <td style="width:100px">
                                    <div class="form-group">
                                        <input asp-for="MenuOrder" class="form-control" />
                                        <span asp-validation-for="MenuOrder" class="text-danger"></span>
                                    </div>
                                </td>
                                <td style="width:100px">
                                    <div class="form-group">
                                        <input asp-for="Position" class="form-control" />
                                        <span asp-validation-for="Position" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="row align-items-center justify-content-around">
                                        <div class="form-group col-xl-5 col-12 btn mb-3 mb-xl-0 p-0">
                                        <input type="submit" value="Lưu thay đổi" class="btn btn-primary font-weight-bold" />
                                        </div>
                                        <div class="col-xl-2 col-0"></div>

                                    <a asp-action="Delete" asp-route-id="@Model.MenuId" class="col-xl-5 col-12 btn bg-gradient-danger font-weight-bold">Xóa</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </form>
                    </table>
                <a asp-action="Index" class="btn px-4 bg-gradient-success mt-4 float-right text-white font-weight-bold">Trở lại</a>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>