@model Doicuuhomaytinh_CORE.ModelViews.HomeViewVM
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=        	Banner         =-->
<!--============================-->
<section class="banner-five animate__animated animate__flipInY" style="background-image: url('media/background/background-banner.webp');">
    <div class="tim-container">
        <div id="para" class="paralax">
            <div id="paralax-1" class="scene">
                <div data-depth="-0.50"><img src="~/media/background/logo-fix-computer.png" alt=""></div>
            </div>
        </div>
        <div class="baneer-five-content">
            <div class="content sp-container">
                <div class="sp-content text-uppercase">
                    <div class="sp-globe"></div>
                    <h2 class="frame-1">Cứu hộ máy tính</h2>
                    <h2 class="frame-2">Lặp đặt thiết bị</h2>
                    <h2 class="frame-3">Cài đặt phần mềm</h2>
                    <h2 class="frame-4">Vệ sinh - sữa chữa <br> miễn phí</h2>

                </div>
                <h3>
                    Cứu hộ máy tính - Lập trình yêu thương !
                    <!-- <a class="tim-slide-btn" href="#">TICKETS</a> -->
            </div>
        </div>
        <!-- /.tim-container -->
    </div>
    <!-- /.tim-container -->

    <div class="smoke-wrqpper">
        <canvas id="canvas"></canvas>
    </div>

</section>
<!-- /#page-header -->
<!--==============================-->
<!--=        	Artist lineup         =-->
<!--==============================-->
<section class="section-padding-two artist-lineup">
    <div class="tim-container clearfix">
        <div class="row">
            <div class="section-title style-four event">
                <h2 class="font-system">Ban quản lý Đội</h2>
                <p>Dưới đây là những người đang tiên phong quản lý Đội cứu hộ máy tính Vinhuni</p>
            </div>
        </div>
        <div class="swiper-container row" data-swiper-config='{ "loop": true, "prevButton":".swiper-button-prev", "nextButton": ".swiper-button-next", "speed": 700, "autoplay": "5000", "slidesPerView": 6, "spaceBetween": 0, "grabCursor": true,"breakpoints": { "1300": { "slidesPerView": 4 }, "767": { "slidesPerView": 3 }, "500": { "slidesPerView": 1 }}}'>
            <ul class="artist-line-wrapper swiper-wrapper">

                <li class="artist-single clearfix swiper-slide animate__animated animate__fadeInUp animate__slow">
                    <img src="~/images/blq/th-lĩnh.jpg" height="367" alt="">
                    <div class="artist-single-content">
                        <ul>
                            <li><a href="https://www.facebook.com/danghong.linh.7"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <h6 class="text-black">Đặng Hồng Lĩnh</h6>
                        <h6 class="text-black">Chức vụ: Thầy quản lý, phụ trách</h6>
                    </div>
                </li>
                <li class="artist-single clearfix swiper-slide animate__animated animate__fadeInDown animate__slow">
                    <img src="~/images/blq/Ngọc.jpg" height="367" alt="">
                    <div class="artist-single-content">
                        <ul>
                            <li><a href="https://www.facebook.com/ngoc.buixuan.10"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <h6 class="text-black">Bùi Xuân Ngọc</h6>
                        <h6 class="text-black">Chức vụ: Đội trưởng</h6>
                    </div>
                </li>
                <li class="artist-single clearfix swiper-slide animate__animated animate__fadeInUp animate__slow">
                    <img src="~/images/blq/hào.jpg" height="367" alt="">
                    <div class="artist-single-content">
                        <ul>
                            <li><a href="https://www.facebook.com/haostbv.duy?locale=en_GB"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <h6 class="text-black">Phan Duy Hào</h6>
                        <h6 class="text-black">Chức vụ: Đội phó</h6>
                    </div>
                </li>
                <li class="artist-single clearfix swiper-slide animate__animated animate__fadeInDown animate__slow">
                    <img src="~/images/blq/huyền.jpg" height="367" alt="">
                    <div class="artist-single-content">
                        <ul>
                            <li><a href="https://www.facebook.com/hoangthanhhuyen.218"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <h6 class="text-black">Hoàng Thanh Huyền</h6>
                        <h6 class="text-black">Chức vụ: Trưởng ban truyền thông</h6>
                    </div>
                </li>
                <li class="artist-single clearfix swiper-slide animate__animated animate__fadeInUp animate__slow">
                    <img src="~/images/blq/huy.jpg" height="367" alt="">
                    <div class="artist-single-content">
                        <ul>
                            <li><a href="https://www.facebook.com/hhuyit.vinhuni?locale=en_GB"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <h6 class="text-black">Hoàng Trọng Huy</h6>
                        <h6 class="text-black">Chức vụ: Đội phó, trưởng ban phần mềm</h6>
                    </div>
                </li>
                <li class="artist-single clearfix swiper-slide animate__animated animate__fadeInDown animate__slow">
                    <img src="~/images/blq/báu.jpg" height="367" alt="">
                    <div class="artist-single-content">
                        <ul>
                            <li><a href="https://www.facebook.com/duybau0705"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                        <h6 class="text-black">Đặng Trần Duy Báu</h6>
                        <h6 class="text-black">Chức vụ: Trưởng ban phần cứng</h6>
                    </div>
                </li>
            </ul>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <!-- /.tim-container -->
</section>
<!-- /#about -->
<!--==============================-->
<section class="show-archive section-padding">
    <div class="container">
        <div class="d-flex justify-content-center row">
            <div class="col-xl-5">
                <div class="section-title style-five">
                    <h2 class="font-system">THỦ THUẬT MÁY TÍNH</h2>
                    <p>Hướng dẫn chi tiết nhất các vấn đề liên quan đến máy tính bao gồm cách sử dụng máy tính, 
                        cách kích hoạt các phiên bản Windows, Office, các phần mềm thông dụng. 
                        Cách sửa lỗi các hỏng hóc cơ bản của máy tính, sửa lỗi hệ điều hành Windows, 
                        sửa lỗi các phần mềm… Đến với chuyên mục thủ thuật máy tính bạn sẽ nắm được các kiến thức cơ bản nhất cũng như các sử dụng máy tính.</p>
                </div>
                <!-- /.row -->
            </div>
            <div class="col-7">
                <div class="show-archive-wrapper row no-gutters">
                    <div class="offset-xs-0 offset-sm-4 col-sm-4 col-6">
                        <div class="single-show-archive">
                            <img src="~/images/news/5-cach-khac-phuc-loi-taskbar-bi-do-tren-windows-10-cuc-hieu-qua-2023.jpg" alt="">
                            <a href="/tin-tuc/5-cach-khac-phuc-loi-taskbar-bi-do-tren-windows-10-cuc-hieu-qua-2023-12.html">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="single-show-archive">
                            <img src="~/images/news/huong-dan-tai-va-cai-dat-driver-may-in-don-gian.jpg" alt="">
                            <a href="/tin-tuc/huong-dan-tai-va-cai-dat-driver-may-in-don-gian-9.html">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="single-show-archive">
                            <img src="~/images/news/cach-sua-loi-wifi-co-cham-than-chac-chan-thanh-cong.png" alt="">
                            <a href="/tin-tuc/cach-sua-loi-wifi-co-cham-than-chac-chan-thanh-cong-13.html">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="single-show-archive">
                            <img src="~/images/news/10-phim-tat-co-ban-tren-windows-khong-the-bo-qua.jpg" alt="">
                            <a href="/tin-tuc/10-phim-tat-co-ban-tren-windows-khong-the-bo-qua-6.html">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="single-show-archive">
                            <img src="~/images/news/cach-hien-o-cung-bi-an-tren-may-tinh-windows.png" alt="">
                            <a href="/tin-tuc/cach-hien-o-cung-bi-an-tren-may-tinh-windows-14.html">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.col-xl -->
        </div>
        <!-- /.row -->
    </div>
</section>

<!--=        	Latest release         =-->
<!--==============================-->
<section class="section-padding latest-relese">
    <div class="">
        <div class="row">
            <div class="section-title m-0 style-four">
                <h2 class="font-system">Bài viết nổi bật</h2>
            </div>
            <div class="schedule clearfix">
                <div class="swiper-container swiper-container-horizontal " data-swiper-config="{&quot;loop&quot;: true, &quot;speed&quot;: 700, &quot;autoplay&quot;: 3000, &quot;slidesPerView&quot;: 5, &quot;grabCursor&quot;: true,&quot;breakpoints&quot;: { &quot;1300&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;767&quot;: { &quot;slidesPerView&quot;: 2 }, &quot;500&quot;: { &quot;slidesPerView&quot;: 1 }}}" style="cursor: grab;">

                    <div class="swiper-wrapper " style="transform: translate3d(-1617.5px, 0px, 0px); transition-duration: 700ms;">
                        @foreach (var item in Model.News)
                        {
                            string _url = $"/tin-tuc/{item.Alias}-{item.PostId}.html";
                            <div class="swiper-slide mr-3 post-home " data-swiper-slide-index="1" style="width: 323.5px;">
                                <div class="schedule-item">
                                    <a href="@_url" class="schedule-thumb n">
                                        <img src="images/news/@item.Thumb" alt="thumb" class="rounded img-new-home img-favorite">
                                    </a>

                                    <div class="mt-3 px-4">
                                        <h4 class="sch-time text-black">- @item.Cate.CateName -</h4>
                                        <a href="@_url">
                                            <h3 class="band-name text-black">
                                                @item.Title
                                            </h3>
                                        </a>
                                    </div>

                                </div>
                                <!-- /.schedule-item -->
                            </div>

                        }

                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.latest-album-info -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.tim-container -->
</section>
<!-- /#about -->
<!--==============================-->

<!--==============================-->
<!--=        	Show schedule        =-->
<!--==============================-->
<!-- /#about -->
<!--==============================-->
<!--=        	Show ticket        =-->
<!--==============================-->
<section class="section-padding">
    <div class="container">
        <div class="d-flex justify-content-center row">
            <div class="col-xl-10">
                <div class="section-title style-four">
                    <h2 class="font-system">LỊCH HOẠT ĐỘNG CỦA ĐỘI</h2>
                </div>
                <div class="single-show-ticket row no-guters align-items-baseline">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="date-time">
                            <h6 class="font-system">Ngày hoạt động:</h6>
                        </div>

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h5 class="font-system">Từ thứ 2 -> thứ 6 hàng tuần, tại phòng B2101 trưởng Đại học Vinh.</h5>
                    </div>
                </div>
                 <div class="single-show-ticket row no-guters align-items-baseline">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="date-time">
                            <h6 class="font-system">Ngày mùa hè:</h6>
                        </div>

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h5 class="font-system"> <i>Buổi sáng</i> : Từ <b> 8:00h - 11:30h</b> || <i> Buổi chiều :</i> Từ <b>14:00h -> 17:30h</b></h5>
                    </div>
                </div>
                <div class="single-show-ticket row no-guters align-items-baseline">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="date-time">
                            <h6 class="font-system">Ngày mùa đông:</h6>
                        </div>

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h5 class="font-system"> <i>Buổi sáng</i> : Từ <b> 8:30h - 11:30h</b> || <i> Buổi chiều :</i> Từ <b>14:30h -> 17:30h</b></h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.latest-album-info -->
    </div>
    <!-- /.row -->
</section>
<!-- /.show-archive -->
<!--============================-->
<!--=        	Spotlight          =-->
<!--============================-->
<section class=" wide_line_bg" style="padding-bottom:50px">
    <div class="container">F
        <div class="d-flex justify-content-center row">
            <div class="col-xl-10">
                <div class="section-title style-five">
                    <h2 class="font-system">HOẠT ĐỘNG TÌNH NGUYỆN</h2>
                    <p>Đội cứu hộ máy tính Vinhuni hoạt động theo hình thức tình nguyện, không vì mục đích lợi nhuận!</p>
                </div>
                <div class="row">
                    <div class="grid-60">
                        <div class="spotlight-inner">
                            <img src="~/media/performance/vid-1.jpg" alt="">
                            <div class="video-player-three">
                                <iframe width="670" height="380" src="https://www.youtube.com/embed/_UAOGG8h-gU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="video-btn-shade">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="text">
                                    <p>Show Stoppers Time</p>
                                    <span>(Live in Tokyo, 2017)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-xl-8 -->
                    <div class="grid-40">
                        <div class="subscribe-two">
                            <div class="section-title style-five">
                                <h2 class="font-system"> THEO DÕI</h2>
                                <p>Theo dõi Page Đội cứu hộ máy tính  Vinhuni để cập nhật các thông tin mới nhất một cách nhanh chóng hơn nhé!</p>
                            </div>
                                <div class="fb-page" data-href="https://www.facebook.com/chmtvinhuni" data-tabs="timeline" data-width="" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/chmtvinhuni" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/chmtvinhuni">Đội Cứu Hộ Máy Tính VinhUni</a></blockquote></div>
                        </div>
                        <!-- /.subscribe-two -->
                    </div>
                    <!-- /.col-xl-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-xl- -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
