<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | Đội cứu hộ máy tính Vinhuni </title>

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/media/logo/logo-CHMT.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/logo/logo-CHMT.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/logo/logo-CHMT.png">
    <meta name="theme-color" content="#e43a90">

    <!-- Dependency Styles -->

    <link rel="stylesheet" href="~/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/intro/css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/swiper/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/wow/css/animate.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/magnific-popup/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/jquery-ui/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/slick-carousel/css/slick.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/colornip/css/colornip.min.css" type="text/css">
    <link rel="stylesheet" href="~/dependencies/css-loader/css/css-loader.css" type="text/css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/woocommerce.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/app.css" type="text/css">
    <!-- <link id="theme" rel="stylesheet" href="~/assets/css/theme-color/theme-default.css" type="text/css"> -->
    <link href="~/loginAssets/login.css" rel="stylesheet" />
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0" nonce="eLEg1Qwi"></script>


</head>

<body id="home-version-1" class="home-version-1" data-style="default">

    <div id="">



        <!--=========================-->
        <!--=        Navbar         =-->
        <!--=========================-->
        <header class="header header-magic-line">
            <div class="header-inner">
                <div class="tim-container clearfix">
                    <div class="header-magic-line-inner clearfix">
                        <div id="site-logo" class="float-left">
                            <a href="/" class="logo-main">
                                <img src="~/media/logo/logo-CHMT.png" width="85" alt="logo">
                            </a>

                            <a href="/" class="logo-stickky">
                                <img src="~/media/logo/logo-CHMT.png" width="85" alt="logo">
                            </a>
                        </div>

                        <ul class="user-login">
                            <li>
                                <a href="#" class="off-opener">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn" asp-area="Admin" asp-controller="AccountLogin" asp-action="Login">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                </a>
                            </li>


                            <li>
                                <a href="javascript:void(0)" class="search-trigger"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <form asp-controller="Search" asp-action="Index" method="get" class="search-input-wrapper">
                                    <input class="search-input" placeholder="Search" name="name" type="text">
                                    <input type="submit" value="Tìm" />
                                </form>
                            </li>
                        </ul>
                        <div class="nav">
                            @await Component.InvokeAsync("MenuView")
                          
                        </div>

                        <!-- /.nav -->
                    </div>
                </div>
                <!-- /.tim-container -->
            </div>
            <!-- /.header-inner -->
        </header>
        <!-- /#header -->
        <div class="offset-menu-two">
            <a href="#" class="offset-closer"><img src="~/assets/img/offset-cross2.png" alt=""></a>

            <div class="footer-about">
                <p> There are many variations of passages of Lorem Ipsum available </p>

                <div class="footer-contact">
                    <div class="contact-details clearfix">
                        <i class="fa fa-phone"></i>
                        <p>Call: +01 245 815 8246</p>
                    </div>

                    <div class="contact-details clearfix">
                        <i class="fa fa-envelope"></i>
                        <p> info@yourdomain.com </p>
                    </div>

                    <div class="contact-details clearfix">
                        <i class="fa fa-map-marker"></i>
                        <p> 22 No. Street New York, West beas park.New York, USA </p>
                    </div>
                </div>
                <!-- /.footer-address -->
            </div>


            <div class="offset-social-two">
                <a href="/">
                    <img src="~/media/logo/logo-CHMT.png" width="85" alt="">
                </a>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>



        <!--=============================-->
        <!--=        Mobile Nav         =-->
        <!--=============================-->
        <header id="mobile-nav-wrap">
            <div class="mob-header-inner d-flex justify-content-between">
                <div id="mobile-logo" class="d-flex justify-content-start">
                    <a href="/"><img src="~/assets/img/logo.png" alt="Site Logo"></a>
                </div>

                <ul class="user-link nav justify-content-end">
                    <li><a href="#"><i class="fa fa-user"></i>Đăng nhập</a></li>
                    <li><a href="#"><i class="fa fa-sign-in"></i>Sign Up</a></li>
                </ul>

                <div id="nav-toggle" class="nav-toggle hidden-md">
                    <div class="toggle-inner">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- /.mob-header-inner -->
        </header>
        <!-- /#mobile-header -->

        <div class="mobile-menu-inner">

            <div class="mobile-nav-top-wrap">
                <div class="mob-header-inner clearfix">
                    <div class="d-flex justify-content-start mobile-logo">
                        <a href="/">
                            <img src="~/assets/img/logo-dark.png" alt="Site Logo">
                        </a>
                    </div>

                    <div class="close-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <!-- /.mob-header-inner -->

                <div class="close-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
            <!-- /.mobile-nav-top-wrap -->

            <nav id="accordian">
                <ul class="accordion-menu">
                    <li>
                        <a href="#0" class="dropdownlink">Home</a>
                        <ul class="submenuItems">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-two.html">Home Two</a></li>
                            <li><a href="index-three.html">Home Three</a></li>
                            <li><a href="index-four.html">Home Four</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0" class="dropdownlink">Artist</a>
                        <ul class="submenuItems">
                            <li><a href="artist.html">Artist</a></li>
                            <li><a href="artist-single.html">Artist Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="album.html">Album</a>
                    </li>
                    <li>
                        <a href="#0" class="dropdownlink">Events</a>
                        <ul class="submenuItems">
                            <li><a href="event.html">Events</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="tabs.html">Tabs</a>

                    </li>
                    <li>
                        <a href="#0" class="dropdownlink">Blog</a>
                        <ul class="submenuItems">
                            <li><a href="blog-list-right.html">Blog Standard</a></li>
                            <li><a href="blog-grid-right.html">Blog Grid</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="#0" class="dropdownlink">Shop</a>
                        <ul class="submenuItems">
                            <li><a href="shop-right.html">Shop Right</a></li>
                            <li><a href="shop-left.html">Shop Left</a></li>
                            <li><a href="shop-single.html">Shop Details</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /.mobile-menu-inner -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="wrapper">
                        <div class="title-text">
                            <div class="title login">Đăng nhập</div>
                            <div class="title signup">Đăng ký</div>
                        </div>
                        <div class="form-container">
                            <div class="slide-controls">
                                <input type="radio" name="slide" id="login" checked="">
                                <input type="radio" name="slide" id="signup">
                                <label for="login" class="slide login">Đăng nhập</label>
                                <label for="signup" class="slide signup">Đăng ký</label>
                                <div class="slider-tab"></div>
                            </div>
                            <div class="form-inner">
                                <form action="#" class="login">
                                    <div class="field">
                                        <input type="text" placeholder="Tên tài khoản" required="">
                                    </div>
                                    <div class="field">
                                        <input type="password" placeholder="Mật khẩu" required="">
                                    </div>
                                    <div class="pass-link"><a href="#">Quên mật khẩu  ?</a></div>
                                    <div class="field btn">
                                        <div class="btn-layer"></div>
                                        <input type="submit" value="Đăng nhập">
                                    </div>
                                    <div class="signup-link">Chưa có tài khoản? <a href="">Đăng ký ngay</a></div>
                                </form>
                                <form action="#" class="signup">
                                    <div class="field">
                                        <input type="text" placeholder="Tên tài khoản" required="">
                                    </div>
                                    <div class="field">
                                        <input type="password" placeholder="Mật khẩu" required="">
                                    </div>
                                    <div class="field">
                                        <input type="password" placeholder="Nhập lại mật khẩu" required="">
                                    </div>
                                    <div class="field btn">
                                        <div class="btn-layer"></div>
                                        <input type="submit" value="Đăng Ký">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--============================-->
        @RenderBody()

        <!--==============================-->
        <!--=        	Footer         	 =-->
        <!--==============================-->

        <footer id="footer-3">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <div class="row">
                            <div class=" col-md-4 col-12 mb-7 mb-lg-0">
                                <a href="/">
                                    <img src="~/media/logo/logo-CHMT.png" width="85" alt="">
                                </a>
                                    <ul class="d-flex mt-3">
                                    <li><a href="#" class="text-white mr-3"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="#" class="text-white mr-3"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#" class="text-white mr-3"><i class="fa-brands fa-instagram"></i></a></li>
                                    </ul>
                                <p class="text-white d-flex flex-column">
                                    <span>
                                        <i class="fa fa-phone mr-3"></i>
                                        +84 826 232 527
                                    </span>
                                    <span>
                                        <i class="fa fa-envelope mr-3"></i>
                                        CuuhomaytinhVinhuni@gmail.com
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-location-dot mr-3"></i>
                                        Phòng B2101 Trường Đại học Vinh, Nghệ An.
                                    </span>
                                </p>
                            </div>
                            <div class=" col-md-4  col-12 mb-7 mb-lg-0 text-right">
                                <h3 class="fs-20 mb-3 text-white">Nội dung chính</h3>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-1"><a href="tuyen-thanh-vien.html" class="text-white">Tuyển thành viên</a></li>
                                    <li class="py-1"><a href="tin-tuc.html" data-filter=".cai-dat-phan-mem" class="text-white">Sự kiện</a></li>
                                    <li class="py-1"><a href="tin-tuc.html" class="text-white">Cài đặt phần mềm</a></li>
                                    <li class="pt-1"><a href="tin-tuc.html" class="text-white">Thủ thuật máy tính</a></li>
                                </ul>
                            </div>
                            <div class=" col-md-4 col-12 mb-7 mb-lg-0 text-right">
                                <h3 class="fs-20 mb-3 text-white">Thông tin</h3>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-1"><a href="gioi-thieu.html" class="text-white">Giới thiệu</a></li>
                                    <li class="py-1"><a href="lien-he.html" class="text-white">Liên hệ</a></li>
                                    <li class="py-1"><a href="thu-vien.html" class="text-white">Thư viện ảnh</a></li>
                                    <li class="py-1"><a href="#" class="text-white">Thành viên đội</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <!-- /.row -->
            </div>
            <!-- /.container -->
        </footer>
        <!-- /#footer -->

        <div class="backtotop">
            <i class="fa fa-angle-up backtotop_btn"></i>
        </div>


    </div>
    <!-- /#site -->
    <!-- Dependency Scripts -->
    <script src="~/dependencies/jquery/jquery.min.js"></script>
    <script src="~/dependencies/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dependencies/swiper/js/swiper.min.js"></script>
    <script src="~/dependencies/swiperRunner/swiperRunner.min.js"></script>
    <script src="~/dependencies/wow/js/wow.min.js"></script>
    <script src="~/dependencies/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="~/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <script src="~/dependencies/jquery.spinner/js/jquery.spinner.js"></script>
    <script src="~/dependencies/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/dependencies/masonry-layout/masonry.pkgd.min.js"></script>
    <script src="~/dependencies/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/dependencies/slick-carousel/js/slick.min.js"></script>
    <script src="~/assets/js/headroom.js"></script>
    <script src="~/assets/js/soundmanager2.js"></script>
    <script src="~/assets/js/mp3-player-button.js"></script>
    <script src="~/assets/js/smoke.js"></script>
    <script src="~/dependencies/FitText.js/js/jquery.fittext.js"></script>
    <script src="~/dependencies/gmap3/js/gmap3.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
    <script src='~/dependencies/tilt.js/js/tilt.jquery.js'></script>
    <script src='~/assets/js/parallax.min.js'></script>
    <!-- Player -->
    <script src="~/dependencies/jPlayer/js/jquery.jplayer.min.js"></script>
    <script src="~/dependencies/jPlayer/js/jplayer.playlist.min.js"></script>
    <script src="~/assets/js/myplaylist.js"></script>

    <!-- Remove It -->
    <script src="~/dependencies/colornip/colornip.min.js"></script>

    <!--Google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBrMPsyNtpwKXPPpG54XwJXnyobfMAIc"></script>

    <!-- Site Scripts -->
    <script src="~/assets/js/app.js"></script>
    <script src="~/loginAssets/login.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
